{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}

<h1>詳細画面</h1>

<div class="main">
    <h2>タイトル： {{ kakeibo.title }}</h2>
    <p>作成日：{{ kakeibo.created_dt }}
    <a href="{% url 'notes_edit' kakeibo.id %}">編集</a>
    </p>
	<table class="table">
		<tr>
			<th>取引日</th>
			<th>金額</th>
			<th>入金・出金</th>
			<th>タグ</th>
		</tr>
		<tr>
			<td>{{ kakeibo.trading_dt }}</td>
			<td>{{ kakeibo.money}}</td>
			<td>{{kakeibo.get_io_flag_display }}</td>
			<td>{{ kakeibo.tag }}</td>
		</tr>
	</table>
</div>

{% endblock %}