{% extends "base.html" %}
{% block main %}

<h1>一覧画面</h1>

<div class="main">
	<div class="welcome">
		<a href="{% url 'notes_new' %}" class="btn btn-primary">追加</a>
		{% include 'notes/search.html'%}
	</div>
	<!-- 家計簿を繰り返し表示します。-->
	{% if kakeibos %}
		<table class="table">
			<tr>
				<th>タイトル</th>
				<th>金額</th>
				<th>タグ</th>
				<th>取引日</th>
				<th>入金・出金</th>
			</tr>
			{% for kakeibo in kakeibos %}
				<tr>
					<td>
						<a 
							href="{% url 'notes_detail' kakeibo.id %}"
						>
							{{ kakeibo.title }}
						</a>
					</td>
					<td>
						{{ kakeibo.money }}
					</t d>
					<td>
						{{ kakeibo.tag }}
					</td>
					<td>
						{{ kakeibo.trading_dt }}
					</td>
					<td>
						{{kakeibo.get_io_flag_display }}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>家計簿の登録なし</p>
	{% endif %}
	
</div>

{% endblock %}