<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toppage</title>
</head>
<body>
	<div class="container">
		<header>
		</header>
		<div class="main">
			<!-- 家計簿を繰り返し表示します。-->
			{% for kakeibo in kakeibos %}
				<li>{{ kakeibo.title }}</li>
			{% endfor %}
			
			<!-- 家計簿の登録が有無を表示します。 -->
			{% if kakeibos %}
				<p>snippet登録済み</p>
			{% else %}
				<p>snippet登録なし</p>
			{% endif %}
		</div>
		<footer>
		</footer>
	</div>
</body>
</html>