{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% block extraheader %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
		<a href="/" class="navbar-brand">Kakeibo</a>
		<ul class="navbar-nav mr-md-2">
			{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
			{% endif %}
		</ul>
	</nav>
	<div class="container">
		{% block main %}{% endblock %}
	</div>
</body>
</html>
